body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-red: rgb(222, 0 , 41);
}

.badge {
  transform: translate(-20px, -10px);
}

.errorElement {
  color: var(--bs-red)
}

.cursor-pointer {
  cursor: pointer;
}

.color-primary-red {
  color: var(--primary-red);
}

.bg-primary-red {
  background: var(--primary-red) !important;
}

.mainContentView {
  margin: 10vh 0;
}

.margin-top-10vh {
  margin-top: 10vh !important;
}

.margin-bottom-10vh {
  margin-bottom: 10vh !important;
}

.margin-top-20px {
  margin-top: 20px !important;
}

.margin-bottom-20px {
  margin-top: 20px !important;
}

.margin-left-20px {
  margin-left: 20px !important;
}

.margin-auto {
  margin: auto;
}

.margin-auto-0 {
  margin: auto 0;
}

.margin-20px-0 {
  margin: 20px 0;
}

div a[title*="webhost"] img, div[class="disclaimer"] /*block pub de l'hébergeur*/
{
  display: none;
}
