.search-bar-container {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slogan {
    color: white;
    font-size: 5vh;
}

.product-list-container {
    padding: 10vh 0;
}

.product-list-category {
    margin: 5vh 0;
}

.ProductCard {
    margin: 3vh 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    cursor: pointer;
}