.productNamePriceContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.productNamePriceContainerItem {
    margin: 0;
    padding: 0;
}

.productImagesContainer {
    max-width: 40vh;
    margin: auto;
}
#bouton_retour {
    background: tomato;
}